.card-filmes {
    margin-bottom: 30px;
}

.card-filmes h2 {
    margin: 0px 0px 0px 30px;
}

.aréa-lista {
    overflow-x: hidden;
    padding-left: 30px;
}

.fileira-filmes {
    transition: all ease 0.5s;

}

.imagem {
    display: inline-block;
    width: 150px;
    cursor: pointer;

}

.imagem img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.3s;
}

.imagem img:hover {
    transform: scale(1);
}


.iconEsquerda,
.iconDireita {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.iconEsquerda {
    left: 0;
}

.iconDireita {
    right: 0;
}

.card-filmes:hover .iconEsquerda,
.card-filmes:hover .iconDireita {
    opacity: 1;
}

@media (max-width: 760px) {

    .iconEsquerda,
    .iconDireita {
        opacity: 1;
    }
}